<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="CommandPort" value="13000"/>
    <add key ="RplUrlPath" value ="http://192.168.9.88/CaptiView/"/>
    <add key ="AutoReload" value ="true"/>
  </appSettings>
</configuration>